/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

/* .legend {
	line-height: 18px;
	color: #555;
} */
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.legend {
	color: #555;
	padding: 6px 8px;
	font: 12px Arial, Helvetica, sans-serif;
	font-weight: bold;
	background: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	}
	.legend ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	clear: both;
	}
	.legend li {
	display: inline-block;
	width: 30px;
	height: 22px;
	opacity: 0.7;
	}
	.legend .min {
	float: left;
	padding-bottom: 5px;
	}
	.legend .max {
	float: right;
	}
	.h5{
	color: black	
	}

